@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Design your Paradise</h1>
    <p>Para navegar en el sitio utilice la barra de navegación.</p>
</div>
